* {
  box-sizing: content-box;
}

body {
  background-color: #8d8d8d;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 660px;
  height: 316px;
  padding: 0;
  background-color: #b3b3b3;
  border: 2px solid orange;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pad-bank {
  display: flex;
  width: 332px;
  height: 272px;
  margin: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.drum-pad {
  cursor: pointer;
  user-select: none;
  text-align: center;
  padding-top: 30px;
  border-radius: 10px;
  font-weight: bold;
  margin-right: 10px;
  width: 100px;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
      
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
   
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 429px;
    height: 628px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .pad-bank {
    display: flex;
    width: 232px;
    height: 190px;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .drum-pad {
    width: 70px;
    height: 56px;
  }
}
